/.DS_Store

# Jetbrains IDEs
/.idea/

# Node
/node_modules/

# Caches
**/__pycache__/

# Webpack
**/bundles
webpack/*stats.json

# Log files
*.log

# Django
local_settings.py
db.sqlite3

# Python
.python-version

# Local bash scripts
/run
/install