setuptools
ez_setup
pip==10.0.1
django==2.0.4
django-ratelimit==1.1.0
dj-database-url==0.5.0
psycopg2-binary==2.7.4
django-webpack-loader
python-dateutil==2.7.2
gunicorn==19.8.1
pyrebase
colour
Pillow==5.1.0
numpy==1.14.3